<div class="content_section">	
      <!--begin htab outer panels-->
      <div id="vtabs"> 
        <!--begin vtab menu-->
        <ul class="svg">
          <li><a href="#vtab-1">Member</a></li>
          <li class="provider"><span></span><a href="#vtab-2"><img src="assets/provider.png" alt="provider">Provider</a></li>
        </ul>
        <!--end vtab menu--> 
        <!--begin vtab panels-->
        <div id="vtab-1">
          <div id="htabs-inner"> 
            <!--begin htab inner panels-->
            <div class="tabs-content">
              <div id="Login">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <button class="promotion-code" type="button">Enter a promotion code here if one has been provided</button>
                <a href="#">Troubles logging in?</a> </div>              
            </div>
            <!--end htab inner panels--> 
            <!--begin htab inner menu-->
            <ul class="tabs-inner">
              <li><a href="#Login">Login</a><span></span></li>
              <li class="register"><a href="#Register">Register</a><strong></strong></li>
            </ul>
            <!--end htab inner menu--> 
          </div>
        </div>        
        <div class="tab_txt">
          <p>By using our site and/or services you signify that you agree to our Terms and Conditions and Privacy Policy, and you confirm that you’re 18 yearsof age or older. </p>
        </div>
        <!--end vtab panels--> 
      </div>
      
      <!--end htab outer panels-->   
</div>